@import "~veriables";
@import "./icons";

.#{$prefix}editor{
  .#{$prefix}controlBar{

  }
  .#{$prefix}content{
    height: 500px;
    .DraftEditor-root{
      height: 100%;
      .DraftEditor-editorContainer{
        .public-DraftEditor-content {
          box-sizing: border-box;
          padding: 15px;
        }
      }
    }
  }
}